.dataTables_length,
.dataTables_filter {
    display: flex;
    align-items: center;
}

.dataTables_wrapper .dataTables_length {
    float: left;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
}

.dataTables_filter {
    display: flex;
    justify-content: end;
}

.dataTables_filter input {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 0 10px 5px;
    outline: none;
}

.dataTables_filter input:focus {
    border-color: #04912a;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dataTables_length select {
    border: 2px solid #ccc;
}